/* font-family: "Space Grotesk", sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    font-size: 100%;
    font-weight: 400;
    list-style: none;
    text-decoration: none;
    border: none;
}

body, a, textarea, button, input{
    font-family: "Inter", sans-serif;
}

.main_block{
    width: 100%;
    height: 100vh;
    background: #124;
}

.main_block .container{
    width: 1290px;
    margin: 0 auto;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main_block .container header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.main_block .container header menu{
    width: 380px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_block .container header menu li a{
    font-weight: 500;
    color: #ddd;
    transition: 0.3s;
}

.main_block .container header menu li a:hover{
    color: #ea5f5c;
    transform: scale(1.1);
}

.main_block .container header aside{
    
}

.main_block .container header aside a{
    font-weight: 500;
    color: #ddd;
}

.btn{
    font-weight: 500;
    color: #fff;
    border-radius: 4px;
    background: #f23935;
    padding: 13px 20px;
    transition: 0.3s;
}

.main_block .container header aside .btn{
    margin-left: 76px;
}

.btn:hover{
    background: #fff;
    color: #f23935;
    cursor: pointer;
    transform: scale(1.06);
}

.main_block .container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 0;
    transform: translateY(-50px);
}

.main_block .container .content article{
    width: 620px;
}

.main_block .container .content article h1{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 100px;
    color: #efefef;
}

.main_block .container .content article h1 span{
    font-weight: 500;
    color: #ffc947;
}

.main_block .container .content article p{
    width: 479px;
    font-weight: 500;
    color: #acacac;
    margin-bottom: 36px;
}

.main_block .container .content article button{
    margin-bottom: 36px;
}

.main_block .container .content article > span{
    font-weight: 500;
    color: #d6d6d6;
    margin-right: 35px;
}

.main_block .container .content article img{
    margin-right: 25px;
}
.main_block .container .content > img{
    height: 530px;

}

/* ABOUT  */
.about{
    width: 100%;
    padding-top: 73px;
    padding-bottom: 73px;
}
.about .container{
    width: 1174px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about .container article{
    width: 533px;
}

.about .container article h1{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: #000000;
    margin-bottom: 20px;
}

.about .container article p{
    font-weight: 500;
    color: #756a6a;
    margin-bottom: 60px;
}

.about .container article aside{
    width: 297px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about .container article aside nav{
    text-align: center;
}
.about .container article aside nav h2{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 40px;
    color:  #ea5f5c;
    margin: 10px;
}

/* Cards Block */

.cards{
    width: 100%;
    padding-top: 91px;
    padding-bottom: 91px;
   
}
.cards .container{
    width: 1135px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 43px;
}

.cards .container article{
    width: 633px;
    display: flex;
    flex-direction: column;
}

.cards .container article h1{
font-family: "Space Grotesk", sans-serif;
font-weight: 700;
font-size: 36px;
text-align: center;
color: #1e1e1e;
margin-bottom: 20px;
}
.cards .container article p{
font-family: "Space Grotesk", sans-serif;
font-weight: 500;
font-size: 16px;
text-align: center;
color: #7c7c7c;
margin-bottom: 30px;
}

.cards .container aside{
    display: flex;
    gap: 23px;
    margin-top: 43px;
    transform: translateX(-10px);
}

.cards .container aside div, nav img{
width: 61px;
height: 61px;
padding-left: 18px;
padding-top: 17px;
}

.cards .container aside nav{
    display: flex;
    flex-direction: column;
    width: 363px;
    background:#fff;
    border-radius: 4px;
    box-shadow: 9px 12px 37px 0 rgba(0, 0, 0, 0.12);
    
}

.cards .container aside ,div nav h1{
font-family: "Space Grotesk", sans-serif;
font-weight: 700;
font-size: 20px;
color: #1e1e1e;
margin-top: 11px;
padding-left: 18px;
}

.cards .container aside ,div nav p{
font-family: "Space Grotesk", sans-serif;
font-weight: 500;
font-size: 16px;
color: #7c7c7c;
margin-top: 11px;
padding-left: 18px;
padding-bottom: 17px;
}

.cards .container div{
    display: flex;
    gap: 23px;
    margin-top:27px;
}
.cards .container div nav{
    display: flex;
    flex-direction: column;
    width: 363px;
    background:#fff;
    border-radius: 4px;
    box-shadow: 9px 12px 37px 0 rgba(0, 0, 0, 0.12);
    
}

/* four block */

.four{
    width: 1012px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.four article {
    width: 533px;
}

.four article h1 {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: #000000;
    margin-bottom: 20px;
    margin-top: 20px;
}

.four article p {
    font-weight: 500;
    color: #756a6a;
    margin-bottom: 60px;
}

/* Img block */

.five{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 133px;
}

.five article {
    display: flex;
    width: 1220px;
    height: 580px;
    background-image:url(../img/lodi.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
}
.five article aside{
    width: 597px;
    background:#fff;
    padding: 35px 135px 35px 19px;
}

.five article aside h1{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 34px;
    color: #1e1e1e;
    padding-bottom: 20px;
}

.five article aside p{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #7c7c7c;
}

/* six block */

.six{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 69px;
}

.six .container{
    width: 1102px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.six .container article{
    width: 540px;
    padding-bottom: 50px;
}

.six .container > article h1{
    font-family: "Space Grotesk", sans-serif; 
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: #1e1e1e;
    padding-bottom: 10px;
}
.six .container > article p{
    font-family: "Space Grotesk", sans-serif; 
    font-weight: 500;
    text-align: center;
    color: #7c7c7c;
}

.six .container div{
   display: flex;
   gap: 71px;
}

.six .container div article{
   width: 320px;
}

.six .container div article div{
    position: relative;
}

.six .container div article div aside{
    position: absolute;
    border-radius: 4px;
    background: #fff;
    padding: 4px 10px;
    right: 14px;
    top: 17px;
    font-weight: 600;
}

.six .container div article h1 {
    font-family: "Space Grotesk", sans-serif; 
    font-weight: 700;
    font-size: 18px;
    color: #1e1e1e;
    padding-top: 21px;
}

.six .container div article p {
    font-family: "Space Grotesk", sans-serif; 
    font-weight: 500;
    font-size: 16px;
    color: #7c7c7c;
    padding-top: 12px;
}

.six .container button{
    font-family: "Space Grotesk", sans-serif; 
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: center;
    color: #292929;
    background:none;
    cursor: pointer;
}

/* Ready block */

.ready{
    width: 100%;
    padding-top: 69px;
    padding-bottom: 10px;
}
.ready .container{
    width: 1220px;
    background: #124;
    margin: 0 auto;
}

.ready .container article{
    width: 533px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    padding-top: 65px;
    padding-bottom: 65px;
    justify-content: center;
    align-items: center;
    
}

.ready .container article h1{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #fff;
    padding-bottom: 35px;
}

.ready .container article p{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: #909090;
    padding-bottom: 36px;
}


.but{
    font-weight: 500;
    color: #fff;
    border-radius: 4px;
    background: #f23935;
    padding: 13px 15px;
    transition: 0.3s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.but:hover{
    background: #fff;
    color: #f23935;
    cursor: pointer;
    transform: scale(1.06);
}

.butt{
    font-weight: 500;
    color: #fff;
    border-radius: 4px;
    background:none;
    padding: 13px 15px;
    margin-top: 16px;
    transition: 0.3s;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.butt:hover{
    background: #fff;
    color: #f23935;
    cursor: pointer;
    transform: scale(1.06);
}

.ready .container article .but img{
    padding-right: 10px;
}

.ready .container article .butt img{
    padding-right: 15px;
}

.inst{
    padding-top: 15px;
}


/* footer block */

footer{
    padding-bottom: 100px;
    padding-top: 170px;
}

footer .container{
    width: 1068px;
    margin: 0 auto;
}

footer .container .footer_menu{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding-bottom: 30px;
}

footer .container .footer_menu menu li{
    margin-bottom: 21px;
    font-weight: 500;
    color: #1f1f1f;
}

footer .container .footer_menu menu li:nth-child(1){
    font-weight: 700;
    font-size: 18px;
    color: #141414;
    margin-bottom: 28px;
}

footer .container .footer_menu menu li:last-child{
    margin-bottom: 0;
}

footer .container .footer_menu menu:nth-child(1) li:nth-child(1){
    display: flex;
}

footer .container .footer_menu menu img{
    padding-left: 13px;
}

.mesed{
    display: inline-block;
    padding-top: 20px; 
    padding-left: 16px;
}
